/*
 *@author Vic, 13-12-16, created
 *@desc 样式operateButton1主要是为了适应F5配置操作展现
 */
.operateButton{
    width: 150px;
}

.operateButton1{
    width: 80px;
}


/*
 *@author Wei Jia-Liang, 13-11-05, created
 *@desc 样式table1主要是为了适应数据库报表静态table展现
 *@desc 样式table2主要是为了适应容量报告标题格式table展现
 */

.table1 {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
}

.table1 th,
.table1 td {
    text-align: left;
    vertical-align: top;
    line-height: 25px;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

.table1 th {
    padding: 10px;
    font-weight: bold;
    background-color: #cccccc;
}

.table1 th {
    padding: 8px;
    font-weight: bold;
    background-color: #cccccc;
}

.table2 {
    width: 100%;
    margin-bottom: 10px;
}

.table2 th,
.table2 td {
    text-align: left;
    vertical-align: top;
    line-height: 20px;
}

.lab-width{
    width: 170px;
}

.form-horizontal .control-label-vic {
    width: 9em;
    padding-top: 0;
}

.form-horizontal .controls-vic {
    margin-left: 0em;
}