.page-error .code {
    text-align: right;
    letter-spacing: -10px;
    font-weight: 300;
    font-size: 158px;
    line-height: 158px;
}

.page-error h3, .page-error h4 {
    font-weight: 300;
}

.page-error .code.error-500 {
    color: #ec8c8c;
}

.page-error .code.error-404 {
    color: #7bbbd6;
}

.page-error .code.error-401 {
    color: #c09853;
}

pre#error-message {
    border: 0;
    background: #fff;
}