/*******************************************************************************
 * Custom CSS for mobile.
 *
 * DESIGN PRINCIPLE
 * -------------------
 * 1. Use jQuery UI smooth theme and Twitter Bootstrap as base framework.
 * 2. Use standard css as much as possible.
 * 3. Before adding custom css, ask yourself if really need it
 *
 * CODING CONVENTIONS
 * -------------------
 * Except for CSS from other components (like dataTables), custom CSS should
 * 1. With all lower case name
 * 2. Word separator is dash (-), not underline(_)
 * 3. Name by feature
 *
 * @author Leo Liao, 2012/11/24, created
 *
 ******************************************************************************/
ul li .column{
    display: inline-block;
    padding:0 1em;
    font-size: 75%;
}

.in-develop{
    display: none;
}

.portlet-content{
    /*min-height:300px;*/
    /*height:300px;*/
}