// @{scope}-{feature}-{property}-{value}-{modifier}

@dark_link_color: @grayLight;
@dark_link_color_secondary: @grayLight;
@dark_link_color_active: @white;
@dark_back_color: @primary_back_color;
@dark_back_color_secondary: lighten(@dark_back_color, 5%);

@list_level_indent: 20px;
@list_item_height: 32px;

@closed_main_item_width: @page-sidebar-width + 30;
@closed_sub_item_width: @closed_main_item_width - @page-sidebar-closed-width - 1;

//------------------------------------------------
// Menu Tree Levels
//------------------------------------------------

.nav.nav-list-tree ul {
  margin-left: 0;
}

.nav.nav-list-tree li > a {
  padding-right: 4px;
}

.nav.nav-list-tree li.open > a {
  font-weight: bold;
}

// Only for page-side, other nav-list-tree's padding are specified by underlying ul.nav-tabs or ul.nav-pills
.page-sidebar .nav-list-tree > li > a {
  padding-top: 4px;
  padding-bottom: 4px;
}

//------------------------------------------------
// Menu Item
//------------------------------------------------

.nav.nav-list-tree li > a {
  display: block;
  // Use line-height to ensure arrow and text are vertically middle aligned
  line-height: @list_item_height;
}

.nav.nav-list-tree > li > a {
  font-size: 1.1em;
}

// Level 2
.nav.nav-list-tree > li > ul > li > a {
  padding-left: @list_level_indent*1;
}

// Level 3
.nav.nav-list-tree > li > ul > li > ul > li > a {
  padding-left: @list_level_indent*2;
}

// Level 4
.nav.nav-list-tree > li > ul > li > ul > li > ul > li > a {
  padding-left: @list_level_indent*3 - 10;
}

.nav.nav-list-tree a > .arrow:before {
  float: right;
  margin-top: 1px;
  margin-right: 5px;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "\f105";
  font-weight: 300;
  text-shadow: none;
}

.nav.nav-list-tree a > .arrow.open:before {
  margin-right: 3px;
  content: "\f107";
}

.nav.nav-list-tree li {
  list-style: none;
}

.nav.nav-list-tree > li ul li {
  margin-top: 1px;
}

// Level 2 and below
.nav.nav-list-tree > li ul {
  width: 100%;
}

.nav.nav-list-tree > li ul li.active > a {
  color: @primary_highlight_text_color;
  background-color: @secondary_back_color_highlight;
}

// Only level 2 sub menu
.nav > li > .nav-custom-group {
  .header_background;
}

//-----------------------------------------
// PAGE SIDEBAR
//-----------------------------------------
.page-sidebar, .page-sidebar .tab-content {
  background-color: @primary_back_color;
}

//-----------------------------------------
// TABS IN SIDEBAR
//-----------------------------------------
.page-sidebar .tab-content {
  padding-left: 0;
  padding-right: 0;
  border: 0;
}

.page-sidebar .nav-tabs {
  margin-bottom: 0;
  border-bottom: 0;
  background-color: darken(@primary_back_color, 10%);
}

.page-sidebar .nav-tabs .tab-content {
  border-top: 0;
  border-radius: 0;
}

.page-sidebar .nav-tabs > li > a {
  color: @grayLight;
  border: 0 !important;
  margin-right: 0;
}

.page-sidebar .nav-tabs > .active > a,
.page-sidebar .nav-tabs > .active > a:hover,
.page-sidebar .nav-tabs > .active > a:focus {
  color: @grayLight;
  cursor: default;
  background-color: @primary_back_color;
}

//-----------------------------------------
// SIDEBAR TOGGLER
//-----------------------------------------
.sidebar-toggler:hover {
  filter: alpha(opacity=100);
  opacity: 1;
  color:@white;
}

.sidebar-toggler {
  position: absolute;
  left: @page-sidebar-width - 36px;
  top: 0;
  background: #666;
  line-height: 36px;
  width:36px;
  text-align: center;
  opacity: 0.5;
  filter: alpha(opacity=50);
  color:@white;
}

.sidebar-closed .sidebar-toggler {
  left: @page-sidebar-closed-width;
  width:auto;
}

//-----------------------------------------
// SIDEBAR MINIMIZED
//-----------------------------------------
.sidebar-closed .page-sidebar .nav-tabs > li {
  width: 100%;
}

.sidebar-closed .page-sidebar .nav.nav-list-tree > li.active > a {
  color: @dark_link_color_active !important;
  background-color: @primary_back_color_highlight;
  background-image: url("../images/sidebar-menu-arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  border-top-color: transparent !important;
}

.sidebar-closed .page-sidebar .nav.nav-list-tree > li.active:hover > a {
  background-image: none;
}

.sidebar-closed .page-sidebar .sidebar-search {
  height: 34px;
  width: 29px;
  margin-left: 3px;
  margin-bottom: 0px;
}

.sidebar-closed .page-sidebar .sidebar-search input {
  display: none;
}

.sidebar-closed .page-sidebar .sidebar-search .submit {
  margin: 11px 7px !important;
  display: block !important;
}

.sidebar-closed .page-sidebar .sidebar-search .input-box {
  border-bottom: 0;
}

.sidebar-closed .page-sidebar .sidebar-search.open {
  height: 34px;
  width: 255px;
  overflow: hidden;
}

.sidebar-closed .page-sidebar .sidebar-search.open input {
  margin-top: 3px;
  padding-left: 10px;
  padding-bottom: 2px;
  width: 180px;
  display: inline-block !important;
}

.sidebar-closed .page-sidebar .sidebar-search.open .submit {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 10px 8px 9px 6px !important;
}

.sidebar-closed .page-sidebar .sidebar-search.open .remove {
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  margin: 11px 6px 7px 8px !important;
  display: inline-block !important;
  float: left !important;
}

.sidebar-closed .page-sidebar .nav.nav-list-tree > li > a .selected {
  right: -3px !important;
}

.sidebar-closed .page-sidebar .nav.nav-list-tree > li > a > .title,
.sidebar-closed .page-sidebar .nav.nav-list-tree > li > a > .arrow {
  display: none !important;
}

.sidebar-closed .page-sidebar > ul {
  width: @page-sidebar-closed-width !important;
}

.sidebar-closed .page-sidebar .nav.nav-list-tree > li > a {
  padding-left: 7px;
}

.sidebar-closed .page-sidebar .nav.nav-list-tree > li:hover {
  width: @closed_main_item_width;
  position: relative;
  z-index: 2000;
}

.sidebar-closed .page-sidebar .nav.nav-list-tree > li:hover .selected {
  display: none;
}

.sidebar-closed .page-sidebar .nav.nav-list-tree > li:hover > a > i {
  margin-right: 10px;
}

.sidebar-closed .page-sidebar .nav.nav-list-tree > li:hover > a {
  background-image: none;
}

.sidebar-closed .page-sidebar .nav.nav-list-tree > li:hover .title {
  display: inline !important;
}

.sidebar-closed .page-sidebar .nav.nav-list-tree > li > ul {
  display: none !important;
}

.sidebar-closed .page-sidebar .nav.nav-list-tree > li:hover > ul {
  width: @closed_sub_item_width;
  position: absolute;
  z-index: 2000;
  left: @page-sidebar-closed-width + 1;
  margin-top: 0;
  top: 100%;
  display: block !important;
}

//.sidebar-closed .page-sidebar .nav.nav-list-tree > li > ul > li > ul,
//.sidebar-closed .page-sidebar .nav.nav-list-tree > li > ul > li > ul > li > ul {
.sidebar-closed .page-sidebar .nav.nav-list-tree > li ul {
  width: @closed_sub_item_width;
}

// Level 2
.sidebar-closed .page-sidebar .nav.nav-list-tree > li > ul > li > a {
  padding-left: 15px !important;
}

// Level 3
.sidebar-closed .page-sidebar .nav.nav-list-tree > li > ul > li > ul > li > a {
  padding-left: 30px !important;
}

// Level 4
.sidebar-closed .page-sidebar .nav.nav-list-tree > li > ul > li > ul > li > ul > li > a {
  padding-left: 45px !important;
}

.sidebar-closed .page-sidebar {
  width: @page-sidebar-closed-width;
}

.sidebar-closed .page-content {
  margin-left: @page-sidebar-closed-width !important;
}

//------------------------------------------------
// THEME
//------------------------------------------------

.dark.nav.nav-list-tree a {
  color: @dark_link_color;
}

.dark.nav.nav-list-tree > li > a {
  color: #ccc;
  background-color: @dark_back_color;
  border-top: 1px solid lighten(@dark_back_color, 10%) !important;
}

.dark.nav.nav-list-tree > li > ul {
  background-color: darken(@dark_back_color, 5%);
}

.dark.nav.nav-list-tree > li > ul > li > ul {
  background-color: darken(@dark_back_color, 10%);
}

.dark.nav.nav-list-tree > li ul li > a {
  color: @dark_link_color_secondary;
}

.dark.nav.nav-list-tree > li ul li > a:hover {
  color: @dark_link_color_active;
}

.dark.nav.nav-list-tree li > a:hover {
  color: @dark_link_color_active;
  background-color: @dark_back_color_secondary;
}

.dark.nav.nav-list-tree > li li.active > a {
  color: @dark_link_color_active !important;
  background-color: @dark_back_color_secondary;
  border-right: 4px solid @primary_back_color_highlight;
}