<?xml version="1.0" encoding="UTF-8"?>

<!-- -->
<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <property resource="appconfig.properties"/>
    <property name="ERROR_FILE" value="error.log"/>
    <property name="DEBUG_FILE" value="debug.log"/>
    <property name="INFO_FILE" value="info.log"/>
    <property name="PERF_FILE" value="perfstats.log"/>
    <property name="charset" value="GBK"/>
    <property name="pattern" value="[%d{MM-dd HH:mm} %p] %c{0}: %m%n"/>

    <!--=====================================================================-->
    <!-- Appenders -->
    <!--=====================================================================-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>${charset}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <!-- Debug log, used for development and tuning -->
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${app.log.dir}/${DEBUG_FILE}</File>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>13</maxIndex>
            <fileNamePattern>${app.log.dir}/${DEBUG_FILE}.%i.zip</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <!-- Performance log, used for system tuning -->
    <appender name="PERF_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${app.log.dir}/${PERF_FILE}</File>
        <encoder>
            <pattern>[%d{MM-dd HH:mm}] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>13</maxIndex>
            <fileNamePattern>${app.log.dir}/${PERF_FILE}.%i.zip</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <!-- Info only log, used for system audit -->
    <!-- deny all events with a level below ERROR, that is TRACE, DEBUG and INFO -->
    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.log.dir}/${INFO_FILE}</file>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>13</maxIndex>
            <FileNamePattern>${app.log.dir}/${INFO_FILE}.%i.zip</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <!-- Error threshold log, used for system troubleshooting. -->
    <!-- deny all events with a level below ERROR, that is TRACE, DEBUG and INFO -->
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${app.log.dir}/${ERROR_FILE}</file>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>13</maxIndex>
            <FileNamePattern>${app.log.dir}/${ERROR_FILE}.%i.zip</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!--=====================================================================-->
    <!-- Loggers -->
    <!--=====================================================================-->
    <!--
      The Perf4J logger. Note that org.perf4j.TimingLogger is the value of the
      org.perf4j.StopWatch.DEFAULT_LOGGER_NAME constant. Also, note that
      additivity is set to false, which is usually what is desired - this means
      that timing statements will only be sent to this logger and NOT to
      upstream loggers.
    -->
    <logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="PERF_FILE"/>
    </logger>
    <logger name="hpps" level="DEBUG"/>
    <logger name="hpps.qad" level="DEBUG"/>
    <logger name="hpps.qad.core.query.tree.DataTableTreeBuilder" level="DEBUG"/>
    <logger name="hpps.qad.core.query.PrintableOutputAction" level="DEBUG"/>
    <!--<logger name="hpps.qad.core.query.DataTablesQueryAction" level="DEBUG"/>-->
    <logger name="hpps.qad.core.query.PdfGenerator" level="DEBUG"/>
    <logger name="hpps.qad.core.query.HtmlGenerator" level="DEBUG"/>
    <!--<logger name="freemarker.runtime" level="INFO"/>-->
    <logger name="hpps.qad.base.dao.GenericDAOImpl" level="DEBUG"/>
    <logger name="freemarker" level="ERROR"/>
    <!--<logger name="org.apache.shiro" level="DEBUG"/>-->
    <!--<logger name="org.apache.shiro.authz.permission.WildcardPermission" level="DEBUG"/>-->
    <!--<logger name="org.apache.shiro.web.filter.authc" level="DEBUG"/>-->
    <!--<logger name="org.apache.shiro" level="TRACE"/>-->
    <logger name="com.opensymphony.xwork2.interceptor.TimerInterceptor" level="INFO"/>
    <!--<logger name="com.opensymphony.xwork2" level="DEBUG"/>-->
    <!--<logger name="org.apache.struts2.json.JSONWriter" level="DEBUG"/>-->
    <logger name="org.apache.struts2.util.TextProviderHelper" level="ERROR"/>
    <logger name="org.apache.struts2.components.ServletUrlRenderer" level="ERROR"/>
    <logger name="com.opensymphony.xwork2.ognl.OgnlValueStack" level="ERROR"/>
    <!--<logger name="org.apache.shiro.authz.aop.PermissionAnnotationHandler" level="TRACE"/>-->
    <!--<logger name="com.opensymphony.xwork2.ActionChainResult" level="DEBUG"/>-->

    <!--=====================================================================-->
    <!-- Default root logger -->
    <!--=====================================================================-->
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUG_FILE"/>
        <appender-ref ref="INFO_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
        <!--<appender-ref ref="lilith"/>-->
    </root>
</configuration>