/**************************************/
/*       CUSTOM: DRILL                */
/**************************************/
.drill.mybox .page-header {
  color: #fff;
}

.drill-plan .title {
  background: url('../images/drill-plan.png') no-repeat left center;
}

.drill-template .title {
  background: url('../images/drill-template.png') no-repeat left center;
}

.drill-task .title {
  background: url('../images/drill-task.png') no-repeat left center;
}

.pair-main {
  height: 80px;
  width: 200px;
  overflow: hidden;
  background: #E0E0E0;
}

.pair-left {
  background: buttonhighlight;
  float: left;
  height: 70px;
  width: 92px;
  border: thin solid #f5fffa;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.pair-right {
  background: #E0E0E0;
  float: right;
  height: 70px;
  width: 92px;
  border: thin solid #f5fffa;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 1.2em;
}

/* Sidebar Icons*/
.imgicon-win {
  background-image: url('../images/icon/computer.png') !important;
}

.imgicon-km {
  background-image: url('../images/icon/ic-km.png') !important;
}

.imgicon-db {
  background-image: url('../images/icon/database.png') !important;
}

.imgicon-rs6000 {
  background-image: url('../images/icon/cassette.png') !important;
}

.imgicon-platform {
  background-image: url('../images/icon/lookup.png') !important;
}

.imgicon-sec {
  background-image: url('../images/icon/shield.png') !important;
}

.imgicon-network {
  background-image: url('../images/icon/network.png') !important;
}

.imgicon-sysadmin {
  background-image: url('../images/icon/configuration.png') !important;
}

.imgicon-processing {
  background-image: url('../images/icon/processing.png') !important;
}

.icomoon-detail-link:before {
  content: "\e043";
}

i[class^="imgicon-"] {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: left;
  vertical-align: middle;
  display: inline-block;
  line-height: 30px;
}