//.ui-dialog.webform {
.ui-dialog {
  padding: 0;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);

  .ui-dialog-titlebar {
    border: 0;
    font-size: 1.3em;
    color: #777;
    text-shadow: 0 1px 1px #eee;
    padding: .5em 13px;
    .widget_header
  }

  .ui-dialog-titlebar.ui-corner-all {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .ui-dialog-content {
    // Restrict max and min dimension for normal dialog
    height: auto !important;
    max-height: 540px !important;
    .iframe {
      border: 0;
      width: 100%;
      height: 100%;
      min-height: 400px;
    }
  }
}

//.ui-widget-content.webform {
.ui-widget-content {
  background-image: none;
}

.webform .form-inline input[type=text],
.webform .form-inline input[type=password],
.webform .form-inline select {
  width: 5em;
}

/* webform not in dialog */
.webform {
  max-width: 600px;
  padding-bottom: 1em;
  &.ui-dialog {
    background-color: #fff;
    max-width: 100%;
    padding-bottom: 0;
  }
}

.webform textarea {
  height: 8em;
  &.kui-large {
    height: 16em;
  }
  &.kui-small {
    height: 4em;
  }
}

.kui-toolbar-container {
  position: relative; /* important for positioning toolbar*/
  .kui-hover-toolbar {
    position: absolute;
    bottom: 0;
    right: 0px;
    padding: 4px 5px;
  }
}

//------------------------------------------------
// SELECT2
//------------------------------------------------
.select2-container {
  min-width: 10em;
}

.select2-choices, .select2-container-multi .select2-choices,
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  background-image: none;
}

.kui-flat {
  .select2-choices {
    border: 0;
    background: transparent;
  }
  &.select2-container-multi.select2-container-active .select2-choices {
    background: #fff;
  }
  &.select2-container-multi .select2-choices .select2-search-choice {
    border-radius: 0;
    background-image: none;
  }
  &.select2-dropdown-open .select2-choices {
    background: #fff;
  }
}

// Search
.kui-search-input {
  background: #fff url('../images/search-icon.png') no-repeat right center;
  padding-right: 24px;
  .page-header &, .page-sidebar & {
    background-color: #ddd;
    height: 26px;
    &:focus {
      background-color: #fff;
    }
  }
}

.btn input[type=radio], .btn input[type=checkbox] {
  margin: 0;
}