.portlet-container {
  padding: 0 5px;
  vertical-align: top;
  .portlet.panel {
    margin-bottom: @padding-base-vertical;
    &.fluid {
      width: inherit;
    }
  }
  &.horizontal .portlet.panel {
    margin-right: @padding-base-horizontal;
  }
  &.kui-portal-in-sort {
    background-color: lighten(@kui-color-blue, 40%);
  }
}

.panel.minimized .panel-body {
  display: none;
}

.portlet.panel {
  min-height: @widget_header_height;
  min-width: 150px;
  width: 300px;
  height: 240px;
  float: left;
  .panel-body {
    overflow: auto;
  }
  .kui-portlet-edit-box {
    color: @white;
    background: @primary_back_color;
    z-index: 10000;
    width: 100%;
    position: absolute;
    .form-horizontal {
      padding: @padding-base-horizontal;
      .colors .btn {
        width: 30px;
        height: 30px;
      }
    }
    label {
      color: @white;
      width: 4em;
    }
    //    ul li label {
    //      float: left;
    //      width: 4em;
    //      padding: 0 0 0 10px;
    //    }
    //
    //    ul li.item {
    //      padding: 10px 0;
    //    }
    //
    //    ul.colors li {
    //      width: 20px;
    //      height: 20px;
    //      border: 1px solid #EEE;
    //      float: left;
    //      display: inline;
    //      margin: 0 5px 2px 0;
    //      cursor: pointer;
    //    }
  }
  .panel-heading {
    .clearfix();
    min-height: @widget_header_height;
    a {
      color: @gray-light;
      cursor: pointer;
    }
    .not-moveable & {
      cursor: default;
    }
    .btn-group {
      position: absolute;
      right: @padding-base-horizontal;
      top: 6px;
    }
  }
}

.panel-heading {
  .ui-sortable & {
    cursor: move;
  }
  .ui-sortable.ui-sortable-disabled &, .not-moveable & {
    cursor: default;
  }
}

.ui-sortable-placeholder {
  border: 2px dashed #999;
  visibility: visible !important;
  height: 50px !important;
}

.ui-sortable-placeholder * {
  visibility: hidden;
}

//------------------------------------------------
// PORTLET LAYOUT
//------------------------------------------------

/**************************************/
/*       CUSTOM: BROWSER/BLOCK        */
/**************************************/
/* Effect */
//.bubble {
//  padding: 3px;
//  background-color: #eee;
//}
//
//.mybox {
//  /*http://webdesignerwall.com/tutorials/css-specific-for-internet-explorer*/
//  background-color: #fff;
//  border: 1px solid @kui-border-color-gray;
//}
//
//.mybox-header {
//  font-size: 11px;
//  height: 30px;
//  border-bottom: 1px solid @kui-border-color-gray;
//  .header_background;
//}
//
//.mybox-footer {
//  padding: 5px;
//  font-size: 11px;
//  font-weight: bold;
//  color: #777;
//  overflow: hidden;
//  min-height: 15px;
//  background: #F6F6F6;
//}

//.mybox-content .pagination {
//  margin: 0;
//  padding: .5em;
//  font-size: 11px;
//  overflow: hidden;
//
//  background: #ECF0F1;
//  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #ECF0F1 100%);
//  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #ECF0F1 100%);
//  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #ECF0F1 100%);
//  background-image: -o-linear-gradient(top, #FFFFFF 0%, #ECF0F1 100%);
//  background-image: linear-gradient(top, #FFFFFF 0%, #ECF0F1 100%);
//  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#ECF0F1')";
//}

ul.sorts,
ul.filters {
  margin: 5px 10px 0 0;
  height: 18px;
}

//ul.sorts {
//  float: right;
//}

//ul.filters {
//  float: left;
//}

ul.sorts li,
ul.filters li {
  list-style-type: none;
  display: inline-block;
  margin: 0;

  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  position: relative;
}

ul.sorts li {
  padding: 0 10px 0 20px;
  font-weight: normal;
}

ul.filters li {
  padding-left: 5px;
}

ul.sorts li a {
  color: #333;
}

ul.sorts li a:hover {
  text-decoration: none;
}

ul.sorts li.asc,
ul.sorts li.desc {
  color: #000;
}

ul.sorts li.asc::before,
ul.sorts li.desc::before {
  margin-top: 1px;
  margin-right: 5px;
  display: inline;
  font-family: FontAwesome;
  height: auto;
  font-weight: 300;
  text-shadow: none;
}

ul.sorts li.asc::before {
  content: "\f106";
}

ul.sorts li.desc::before {
  content: "\f107";
}

